---
export const prerender = true;

export function getStaticPaths() {

     const pages = [
    {
      staticname: "ravi",
      title: "ravi title",
    },
    {
      staticname: "somdutt",
      title: "somdutt title",
    },
  ];


 return pages.map(({ staticname, title }) => {
    return {
      params: { staticname },
      props: { title },
    };
  });


}

const { staticname } = Astro.params;
const { title } = Astro.props;
---
<div>{staticname} is called....{title} is title</div>