---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';

import Content from '../components/Content.astro';
import Reacteg from '../components/Reacteg.jsx';


const response = await fetch('https://randomuser.me/api/');
const data = await response.json();
const randomUser = data.results[0];

---


<Layout>

<Content/>
<Reacteg/>

<!-- Data fetched at build can be rendered in HTML -->
<h1>User</h1>
<h2>{randomUser.name.first} {randomUser.name.last}</h2>


  </div>
</Layout>
