---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LetsTalk from '../components/LetsTalk.astro';
import Banner from '../components/Banner.astro';
import Feature from '../components/Feature.astro';
import Content from '../components/Content.astro';
import Blog from '../components/Blog.astro';
import FAQ from '../components/FAQ.astro';
import Stats from '../components/Stats.astro';
import Products from '../components/Products.astro';
import Testimonial from '../components/Testimonial.astro';
import Team from '../components/Team.astro';
---


<Layout>

<Banner/>
	
	
	<br/>
<Feature/>
<br/>
<Products/>

<br/>
<Blog blogtitle="Here is your blog list"/>

<br/>
<Content/>
<br/>

<FAQ/>
<br/>
<LetsTalk/>


<br/>
<Stats/>


<br/>
<Testimonial/>
<br/>
<Team/>

<!--
<Card
				href="#"
				title="Learn More"
				body="Interesting things to see over there"
			/>
-->
	
  </div>
</Layout>
